/* line 1, ../portfolio/vzduchovky/scss/_header.scss */
header {
  height: 100vh;
  background: url(../img/header/header-bg-pc.webp) no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid;
}

/* line 9, ../portfolio/vzduchovky/scss/_header.scss */
.header-filter {
  height: 100vh;
  background-color: rgba(27, 28, 30, 0.6);
}

/* line 14, ../portfolio/vzduchovky/scss/_header.scss */
.top-nav {
  width: 100%;
  background-color: rgba(27, 28, 30, 0.7);
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid #F2F3F4;
}

/* line 22, ../portfolio/vzduchovky/scss/_header.scss */
.top-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* line 28, ../portfolio/vzduchovky/scss/_header.scss */
.top-menu li {
  font-size: clamp(1.25rem, calc(0.14vi + 1.22rem), 1.33rem);
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

/* line 34, ../portfolio/vzduchovky/scss/_header.scss */
.top-menu li a {
  color: #F2F3F4;
  padding: 0.5rem 0;
  font-weight: 500;
}

/* line 42, ../portfolio/vzduchovky/scss/_header.scss */
.heading-wrap {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F2F3F4;
}

/* line 52, ../portfolio/vzduchovky/scss/_header.scss */
.heading-wrap h1,
.heading-wrap h2 {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  padding: 0 0.5rem;
  text-align: center;
}

/* line 62, ../portfolio/vzduchovky/scss/_header.scss */
.logo {
  max-width: 100%;
  position: absolute;
  border-radius: 50%;
  top: 8%;
  right: 5%;
}

@media (max-width: 1050px) {
  /* line 72, ../portfolio/vzduchovky/scss/_header.scss */
  header {
    background: url(../img/header/header-bg-tb.webp) no-repeat;
    background-size: cover;
  }
  /* line 77, ../portfolio/vzduchovky/scss/_header.scss */
  .logo {
    max-width: 200px;
  }
  /* line 82, ../portfolio/vzduchovky/scss/_header.scss */
  .heading-wrap h1 {
    font-size: clamp(2.44rem, calc(1.17vi + 2.21rem), 3.16rem);
  }
  /* line 86, ../portfolio/vzduchovky/scss/_header.scss */
  .heading-wrap h2 {
    font-size: clamp(1.95rem, calc(0.68vi + 1.82rem), 2.37rem);
  }
}

@media (max-width: 500px) {
  /* line 93, ../portfolio/vzduchovky/scss/_header.scss */
  header {
    background: url(../img/header/header-bg-mb.webp) no-repeat;
    background-size: cover;
  }
  /* line 98, ../portfolio/vzduchovky/scss/_header.scss */
  .logo {
    max-width: 200px;
    top: unset;
    right: unset;
    bottom: 5%;
    left: 25%;
  }
  /* line 107, ../portfolio/vzduchovky/scss/_header.scss */
  .heading-wrap h1 {
    font-size: clamp(1.95rem, calc(0.68vi + 1.82rem), 2.37rem);
  }
  /* line 111, ../portfolio/vzduchovky/scss/_header.scss */
  .heading-wrap h2 {
    font-size: clamp(1.56rem, calc(0.35vi + 1.49rem), 1.78rem);
  }
}

/* line 1, ../portfolio/vzduchovky/scss/_section-about.scss */
.section-about {
  background-color: #F2F3F4;
}

/* line 7, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  color: #1B1C1E;
  line-height: 1.5;
}

/* line 14, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item {
  list-style: none;
  padding: 1.5rem 0.25rem;
}

/* line 18, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item li a {
  color: #1B1C1E;
}

/* line 22, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item:hover, .quick-nav .quick-item:active {
  transform: scale(1.05);
  transition-duration: 200ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  cursor: pointer;
}

/* line 29, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item:hover li a, .quick-nav .quick-item:active li a {
  color: #BD9D6F;
  font-weight: 500;
}

/* line 34, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item:hover li a .tm-icon, .quick-nav .quick-item:active li a .tm-icon {
  color: #BD9D6F;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* line 41, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item li {
  padding: 0.5rem;
}

/* line 45, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item li:first-of-type a {
  color: #1B1C1E;
}

/* line 49, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item li:nth-of-type(2) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(1.25rem, calc(0.14vi + 1.22rem), 1.33rem);
}

/* line 55, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item li:last-of-type {
  font-size: clamp(1rem, calc(0vi + 1rem), 1rem);
}

/* line 61, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item:last-of-type {
  border-right: none;
}

/* line 65, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item:nth-child(odd) {
  background-color: #e4e6e8;
}

/* line 69, ../portfolio/vzduchovky/scss/_section-about.scss */
.quick-nav .quick-item:nth-child(even) {
  background-color: #d6dadd;
}

/* line 77, ../portfolio/vzduchovky/scss/_section-about.scss */
.tm-icon {
  font-size: clamp(2.44rem, calc(1.17vi + 2.21rem), 3.16rem);
}

/* line 80, ../portfolio/vzduchovky/scss/_section-about.scss */
.tm-icon:hover, .tm-icon:active {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1300px) {
  /* line 88, ../portfolio/vzduchovky/scss/_section-about.scss */
  .quick-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  /* line 95, ../portfolio/vzduchovky/scss/_section-about.scss */
  .quick-nav {
    grid-template-columns: repeat(2, 1fr);
  }
  /* line 100, ../portfolio/vzduchovky/scss/_section-about.scss */
  .quick-nav .quick-item:nth-child(3) {
    background-color: #d6dadd;
  }
  /* line 104, ../portfolio/vzduchovky/scss/_section-about.scss */
  .quick-nav .quick-item:nth-child(4) {
    background-color: #e4e6e8;
  }
}

@media (max-width: 500px) {
  /* line 113, ../portfolio/vzduchovky/scss/_section-about.scss */
  .quick-nav {
    grid-template-columns: 1fr;
  }
  /* line 117, ../portfolio/vzduchovky/scss/_section-about.scss */
  .quick-nav .quick-item:nth-child(3) {
    background-color: #e4e6e8;
  }
  /* line 121, ../portfolio/vzduchovky/scss/_section-about.scss */
  .quick-nav .quick-item:nth-child(4) {
    background-color: #d6dadd;
  }
  /* line 125, ../portfolio/vzduchovky/scss/_section-about.scss */
  .tm-icon {
    font-size: clamp(3.05rem, calc(1.89vi + 2.67rem), 4.21rem);
  }
}

/* line 137, ../portfolio/vzduchovky/scss/_section-about.scss */
.content-about h2 {
  text-align: center;
}

/* line 143, ../portfolio/vzduchovky/scss/_section-about.scss */
.content-about p {
  line-height: 2;
  font-size: clamp(1.56rem, calc(0.35vi + 1.49rem), 1.78rem);
  text-align: center;
}

/* line 1, ../portfolio/vzduchovky/scss/_footer.scss */
footer {
  background: url(../img/footer/footer-bg-pc.webp) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  border-top: 2px solid;
}

/* line 7, ../portfolio/vzduchovky/scss/_footer.scss */
footer section {
  min-height: 100vh;
  background-color: rgba(27, 28, 30, 0.7);
}

/* line 13, ../portfolio/vzduchovky/scss/_footer.scss */
.bottom-menu {
  min-height: 100vh;
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  font-size: clamp(1.25rem, calc(0.14vi + 1.22rem), 1.33rem);
  justify-items: center;
  text-align: center;
  color: #F2F3F4;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* line 27, ../portfolio/vzduchovky/scss/_footer.scss */
.bottom-menu-item {
  width: 75%;
  height: 75%;
  border: 1px solid;
  border-radius: 15px;
  align-content: center;
}

/* line 35, ../portfolio/vzduchovky/scss/_footer.scss */
.bm-icon {
  font-size: clamp(2.44rem, calc(1.17vi + 2.21rem), 3.16rem);
}

/* line 39, ../portfolio/vzduchovky/scss/_footer.scss */
.bazos {
  font-size: clamp(1.95rem, calc(0.68vi + 1.82rem), 2.37rem);
  display: inline-block;
}

/* line 44, ../portfolio/vzduchovky/scss/_footer.scss */
.item-list {
  list-style: none;
  line-height: 2;
  padding: 0 0.5rem;
}

@media (max-width: 1300px) {
  /* line 51, ../portfolio/vzduchovky/scss/_footer.scss */
  .bottom-menu {
    font-size: clamp(1rem, calc(0vi + 1rem), 1rem);
  }
}

@media (max-width: 1050px) {
  /* line 57, ../portfolio/vzduchovky/scss/_footer.scss */
  footer {
    background: url(../img/footer/footer-bg-tb.webp) center no-repeat;
    background-size: cover;
  }
  /* line 62, ../portfolio/vzduchovky/scss/_footer.scss */
  .bottom-menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  /* line 68, ../portfolio/vzduchovky/scss/_footer.scss */
  .bottom-menu {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  /* line 73, ../portfolio/vzduchovky/scss/_footer.scss */
  .bottom-menu-item {
    width: 100%;
    height: 100%;
  }
  /* line 78, ../portfolio/vzduchovky/scss/_footer.scss */
  .item-list {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 500px) {
  /* line 84, ../portfolio/vzduchovky/scss/_footer.scss */
  footer {
    background: url(../img/footer/footer-bg-mb.webp) center no-repeat;
    background-size: cover;
  }
}

/* line 92, ../portfolio/vzduchovky/scss/_footer.scss */
.credits {
  background-color: #1B1C1E;
  color: #F2F3F4;
  text-align: center;
  font-size: clamp(0.8rem, calc(-0.08vi + 0.82rem), 0.75rem);
  padding: 0.5rem 0;
}

/* line 99, ../portfolio/vzduchovky/scss/_footer.scss */
.credits a {
  color: #F2F3F4;
  padding-left: 0.25rem;
}

/* line 9, ../portfolio/vzduchovky/scss/main.scss */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

/* line 15, ../portfolio/vzduchovky/scss/main.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 19, ../portfolio/vzduchovky/scss/main.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 25, ../portfolio/vzduchovky/scss/main.scss */
body {
  font-family: "Roboto", sans-serif;
  background-color: aqua;
}

/* line 31, ../portfolio/vzduchovky/scss/main.scss */
main {
  background-color: beige;
}

/* line 37, ../portfolio/vzduchovky/scss/main.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 43, ../portfolio/vzduchovky/scss/main.scss */
ul {
  margin: 0;
  padding-left: 0;
}

/* line 48, ../portfolio/vzduchovky/scss/main.scss */
a {
  text-decoration: none;
}

/* line 52, ../portfolio/vzduchovky/scss/main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
}

/* line 62, ../portfolio/vzduchovky/scss/main.scss */
h1 {
  font-size: clamp(3.05rem, calc(1.89vi + 2.67rem), 4.21rem);
}

/* line 66, ../portfolio/vzduchovky/scss/main.scss */
h2 {
  font-size: clamp(2.44rem, calc(1.17vi + 2.21rem), 3.16rem);
}

/* line 70, ../portfolio/vzduchovky/scss/main.scss */
h3 {
  font-size: clamp(1.95rem, calc(0.68vi + 1.82rem), 2.37rem);
}

/* line 74, ../portfolio/vzduchovky/scss/main.scss */
h4 {
  font-size: clamp(1.56rem, calc(0.35vi + 1.49rem), 1.78rem);
}

/* line 78, ../portfolio/vzduchovky/scss/main.scss */
h5 {
  font-size: clamp(1.25rem, calc(0.14vi + 1.22rem), 1.33rem);
}

/* line 82, ../portfolio/vzduchovky/scss/main.scss */
p {
  font-size: clamp(1rem, calc(0vi + 1rem), 1rem);
}

/* line 88, ../portfolio/vzduchovky/scss/main.scss */
header {
  max-width: 100%;
}

/* line 94, ../portfolio/vzduchovky/scss/main.scss */
main {
  max-width: 100%;
}

/* line 98, ../portfolio/vzduchovky/scss/main.scss */
section {
  max-width: 100%;
}

/* line 102, ../portfolio/vzduchovky/scss/main.scss */
.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 1.25rem;
}

/*# sourceMappingURL=main.css.map */