header {
    height: 100vh;
    background: url(../img/header/header-bg-pc.webp) no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid;
}

.header-filter {
    height: 100vh;
    background-color: rgba(27, 28, 30, 0.6);
}

.top-nav {
    width: 100%;
    background-color: rgba(27, 28, 30, 0.7);
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid $color-font-lt;
}

.top-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;

    li {
        font-size: $fs-md;
        line-height: 1.5;
        text-transform: uppercase;
        padding: 0.5rem 0;

        a {
            color: $color-font-lt;
            padding: 0.5rem 0;
            font-weight: 500;
        }
    }
}

.heading-wrap {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-heading-lt-1;

    h1,
    h2 {
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        line-height: 1.5;
        //backdrop-filter: blur(10px);
        padding: 0 0.5rem;
        text-align: center;
    }
}

.logo {
    max-width: 100%;
    position: absolute;
    border-radius: 50%;
    top: 8%;
    right: 5%;
}


@media (max-width: 1050px) {
    header {
        background: url(../img/header/header-bg-tb.webp) no-repeat;
        background-size: cover;
    }

    .logo {
        max-width: 200px;
    }

    .heading-wrap {
        h1 {
            font-size: $fs-xxl;
        }

        h2 {
            font-size: $fs-xl;
        }
    }
}

@media (max-width: 500px) {
    header {
        background: url(../img/header/header-bg-mb.webp) no-repeat;
        background-size: cover;
    }

    .logo {
        max-width: 200px;
        top: unset;
        right: unset;
        bottom: 5%;
        left: 25%;
    }

    .heading-wrap {
        h1 {
            font-size: $fs-xl;
        }

        h2 {
            font-size: $fs-lg;
        }
    }
}


