.section-about {
    background-color: $color-neutral-lt;
}

// ICON NAV

.quick-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    color: $color-font-dk;
    line-height: 1.5;

    .quick-item {
        list-style: none;
        padding: 1.5rem 0.25rem;

        li a {
            color: $color-font-dk;
        }

        &:hover,
        &:active {
            transform: scale(1.05);
            transition-duration: 200ms;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            cursor: pointer;

            li a {

                color: $color-special-lt;
                font-weight: 500;

                .tm-icon {
                    color: $color-special-lt;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
                }
            }
        }

        li {
            padding: 0.5rem;
        }

        li:first-of-type a {
            color: $color-font-dk;
        }

        li:nth-of-type(2) {
            text-transform: uppercase;
            font-weight: 700;
            font-size: $fs-md;
        }

        li:last-of-type {
            font-size: $fs-base;
        }

    }

    .quick-item:last-of-type {
        border-right: none;
    }

    .quick-item:nth-child(odd) {
        background-color: darken($color-neutral-lt, 5%);
    }

    .quick-item:nth-child(even) {
        background-color: darken($color-neutral-lt, 10%);
    }

    

}

.tm-icon {
    font-size: $fs-xxl;

    &:hover,
    &:active {
        text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    }
}


@media (max-width: 1300px) {
    .quick-nav {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 800px) {
    .quick-nav {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .quick-nav .quick-item:nth-child(3) {
        background-color: darken($color-neutral-lt, 10%);
    }

    .quick-nav .quick-item:nth-child(4) {
        background-color: darken($color-neutral-lt, 5%);
    }
    
}
    


@media (max-width: 500px) {
    .quick-nav {
        grid-template-columns: 1fr;
    }

    .quick-nav .quick-item:nth-child(3) {
        background-color: darken($color-neutral-lt, 5%);
    }

    .quick-nav .quick-item:nth-child(4) {
        background-color: darken($color-neutral-lt, 10%);
    }

    .tm-icon {
        font-size: $fs-xxxl;
    }
}


// ABOUT

.content-about {



    h2 {
        text-align: center;
    }



     p {
        line-height: 2;
        font-size: $fs-lg;
        text-align: center;
    }
    

}