.section-contact {
    background-color: $color-neutral-dk;
    color: $color-font-lt;
    h2, h3 {
        text-align: center;
        padding: 2rem 0;
    }

    .contact-menu {
        list-style: none;
        text-align: center;

        li {
            padding: 1rem;
            line-height: 2;
            font-size: $fs-lg;
            
            a {
                color: $color-font-lt;
                font-weight: 700;
            }
        }
    }

    .contact-icon {
        font-size: $fs-xl;
    }
}

@media (max-width: 500px) {

    .section-contact .contact-menu li {
        font-size: $fs-md;
    }
}