.section-services {
    background-color: darken($color-neutral-lt, 5%);

    h2 {
        text-align: center;
        padding-bottom: 2rem;
    }
}

.brands-wrap {
    h3 {
        text-align: center;
    }
}

.slavia-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;

    p {
        font-size: $fs-lg;
        place-self: center;
        line-height: 2;
    }

    .slavia {
        place-self: center;
    }


}

.brands-wrap {
    padding-top: 2rem;
}

.brands {
    display: grid;
    text-align: center;
    row-gap: 1rem;
    padding-bottom: 3rem;

    p {
        font-size: $fs-lg;
        line-height: 2;
    }

    img {
        place-self: center;
    }
}




.service-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
}

.icon-wrap {
    container-type: size;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 60cqh;
        color: $color-special-lt;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
    }



}

.service-content {
    padding: 1rem;
    border-radius: 15px;
    background-color: $color-font-lt;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    h3 {
        text-align: center;
        line-height: 2;
    }

    p {
        font-size: $fs-md;
        line-height: 1.5;
        text-align: center;
    }

    ul {
        font-size: $fs-md;
        padding-left: 2rem;
        line-height: 2;

        li::marker {
            color:  $color-special-md;
            font-weight: 700;
        }
    }

    .link-wrap {
        text-align: center;
    }

    a {
        display: inline-block;
        margin: 0 auto;
        margin-top: 1rem;
        background-color: $color-special-md;
        color: $color-font-lt;
        border-radius: 10px;
        padding: 1rem;
        font-size: $fs-md;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.service-item:nth-child(odd) {
    .icon-wrap {
        order: 2;
    }

}

@media (max-width: 1050px) {

    .slavia-wrap {
        display: block;

        p {
            text-align: center;
        }

        .slavia {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    #slavia {
        max-width: 50%;
    }

    .service-item {
        grid-template-columns: unset;
        grid-template-rows: repeat(2, 1fr);
        margin: 0;

        .icon-wrap {
            order: 1;
        }

        .service-content {
            order: 2;
        }
    }


}


@media (max-width: 600px) {

    .slavia-wrap p {
        font-size: $fs-md;
    }

    .brands p {
        font-size: $fs-md;
    }

    .service-item {
        display: block;
    }

    .icon-wrap {
        height: 20vh;
    }
}