@import 'variables.scss';
@import 'header.scss';
@import 'section-about.scss';
@import 'footer.scss';

// DOCUMENT SETTINGS

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
 
*, *:before, *:after {
    box-sizing: inherit;
}
 
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: aqua;
}


main {
    background-color: beige;
}



img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul {
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: $fs-xxxl;
}

h2 {
    font-size: $fs-xxl;
}

h3 {
    font-size: $fs-xl;
}

h4 {
    font-size: $fs-lg;
}

h5 {
    font-size: $fs-md;
}

p {
    font-size: $fs-base;
}

// DISPLAY SETTINGS

header {
    max-width: 100%;
}



main {
    max-width: 100%;
}

section {
    max-width: 100%;
}

.content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.25rem;
}